* {
	margin: 0;
}

body {
	background: #F5F5F5;
}

a:link {
	text-decoration: none;
}

i {
	padding-right: 10px;
}

h3 {
	padding-top: 40px;
	margin: 40px 0;
}

.wrapper {
	padding-top: 4px;
	font-family: 'Oswald', sans-serif;
}

h1 {
	font-family: 'Oswald', bold;
	color: darkred;
	text-align: center;
	font-weight: bolder;
	font-size: 30px;
	margin-bottom: .25em;
}

/* 
********* NAVBAR *********
*/

.navbar {
	min-width: 90%;
	margin: auto;
}

.navlinks {
	padding: 10px;
}

.navlinks li:hover{
	background: lightblue;
	font-family: 'Montserrat', sans-serif;
}

.navlinks a {
	color: darkred;
}

.navlinks a:hover {
	color: white;
}

.navlinks li{
	display: block;
	list-style: none;
	text-align: center;
	background: white;
	padding:  10px;
	margin: 4px;
	font-weight: bold;
}

/* 
********* PROFILE IMAGE *********
*/

.profile-img {
	padding: 25px;
}

.profile-img img {
	display: block;
	padding: 0 15%;
	max-width: 70%;
	margin: auto;
}

/* 
********* INTRO *********
*/

.intro {
	padding: 5px;
}

.intro p {
	max-width: 70%;
	text-align: center;
	font-weight: normal;
	margin: auto;
}

/* 
********* PORTFOLIO *********
*/

.portfolio {
	text-align: center;
	background: white;
	padding-bottom: 25px
}


.portfolio img {
	max-width: 90%;
	padding: 25px 0;
}

.portfolio p { 
	max-width: 70%;
	text-align: center;
	font-weight: normal;
	padding-bottom: 25px;
	margin: auto;
}

/* 
********* SKILLS *********
*/

.skills {
	background: #FFFDCC;
	text-align: center;
	padding-bottom: 25px;
	margin-top: -40px;

}

.skills p {
	max-width: 70%;
	margin: auto;
	padding-bottom: 25px;
}

.skills img {
	max-width: 90%;
}

/* 
********* CONTACT *********
*/

.contact {
	text-align: center;
	max-width: 70%;
	margin: auto;
}

/*.contact h3 {
	padding-top: 40px;
	margin: 40px 0;
}*/

.contact ul{
	padding: 10px;
}

.contact li{
	list-style: none;
	display: block;
	padding: 4px;
}

.contact a:hover {
	color: orange;
}

/* 
********* FOOTER *********
*/

.footer {
	padding: 20px 5px 40px 5px;
}

.footer ul{
	list-style-type: none;
	text-align: center;
	padding: 0px;
	margin: 0;
}

.footer li{
	display: inline-block;
}

.footer-navbar {
	display: none;
}

#name {
	float: left;
}

#back-to-top {
	float: right;
}

#back-to-top a:hover {
	color: orange;
}

/* 
********* MEDIA QUERIES *********
*/

@media screen and (min-width: 768px) {

	#header {
		padding-bottom: 50px;
	}

	h1 {
		padding: 30px 0;
	}

	.navlinks {
		display: table;
		margin: 0 auto;
	}

	.navlinks li {
		display: inline;
		background: #F5F5F5;
	}

	.introduction-div {
		display: flex;
		flex-direction: row-reverse;
	}

	.intro {
		float: left;
		/*display: inline-block;*/
		max-width: 55%;
		margin: auto;
	}

	.intro p {
		font-size: 1.25em;
	}

	.profile-img {
		/*display: inline-block;*/
		padding: 0;
		float: right;
		max-width: 45%;
	}

	.portfolio-container {
		width: 100%;
	}

	.row {
		/*float: left;*/
		min-width: 100%;
		margin: auto; 
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding: 25px 0;
	}

	.container {
		/*float: left;*/
		width: 50%;
	}

	.skills-container {
		display: flex;
	}

	.skills-container img {
		height: 200px;
		float: left;
	}

	.contact li {
		padding-top: 20px;
	}

	#back-to-top {
		display: none;
	}
	.footer-navbar {
		display: inline;
		float: right;
	}

}

@media screen and (min-width: 1024px) {

	* {
		padding: 0 20px;
	}

	#header {
		display: inline-block;
		width: 100%;
	}

	.student-name {
		text-align: left;
		float: left;
		padding-left: 15px;
	}

	.navbar {
		float: right;
		min-width: 50%;
		padding-top: 50px;
	}

	.container {
		width: 28%;
	}

	.contact li {
		padding-bottom: 0 0 50px 0;
	}

}

/*font notes

font-family: 'Oswald', sans-serif;

font-family: 'Montserrat', sans-serif;

*/